@using Umbraco.Community.UmbNav.Core.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<SiteSettings>
@{
    Layout = null;
    var currentPage = UmbracoContext?.PublishedRequest?.PublishedContent;
}
<header class="screen--header sticky-top shadow-b bg-light pb-1">
    <nav class="container-xxl navbar navbar-nav navbar-expand-lg">
        <div class="container-fluid">
            <h1>VOLKSWAGEN</h1>
        </div>
    </nav>
</header>